@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

header {
  transition: all 0.3s;
}
header .container-fluid {
  padding: 0px;
}
header .nav-item:hover {
  color: #B1E6DE;
}
header .nav-item .nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}
header.scrolled {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 5px 20px -10px #3e3e3e;
}

.btn {
  background: transparent;
  color: #3e3e3e;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.35s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 180px;
}
.btn svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn rect {
  fill: none;
  stroke: #3e3e3e;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
.btn:hover {
  background: transparent;
  letter-spacing: 2px;
  font-weight: 500;
  color: #3e3e3e;
}
.btn:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 18;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

footer {
  font-size: 14px;
}
footer .site-logo img {
  width: 100px;
}
footer a {
  color: #3e3e3e;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.banners .banner-item {
  padding: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banners .banner-item .background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banners .banner-item .container-content {
  margin-left: 8vw;
}
.banners .banner-item .container-content.right-align {
  margin-left: 0;
  margin-right: 5vw;
}
.banners .banner-item .container-content.left-align {
  margin-right: 0;
  margin-left: 3vw;
}
.banners .banner-item .content-superscript {
  color: #64cdbd;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 100;
  text-transform: uppercase;
}
.banners .banner-item .content-title {
  color: #37ad9b;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
}
.banners .banner-item.banner-item-1 {
  height: 500px;
}
.banners .banner-item.banner-item-2, .banners .banner-item.banner-item-3 {
  height: 350px;
}
.banners .banner-item.banner-item-2 .content-superscript, .banners .banner-item.banner-item-3 .content-superscript {
  color: #b3b3b3;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
.banners .banner-item.banner-item-2 .content-title, .banners .banner-item.banner-item-3 .content-title {
  color: #3e3e3e;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.banners .banner-item.banner-item-2 .content-footer, .banners .banner-item.banner-item-3 .content-footer {
  display: flex;
  justify-content: center;
}

.featured-items .container-title,
.get-in-touch .container-title {
  font-size: 25px;
  font-weight: 600;
  color: #3e3e3e;
}
.featured-items .container-content .product-item,
.get-in-touch .container-content .product-item {
  cursor: pointer;
}
.featured-items .container-content .product-item:hover img,
.get-in-touch .container-content .product-item:hover img {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.featured-items .container-content .product-item .item-image,
.get-in-touch .container-content .product-item .item-image {
  background: #EBEBEB;
}
.featured-items .container-content .product-item .item-name,
.get-in-touch .container-content .product-item .item-name {
  color: #3e3e3e;
  font-weight: 400;
  font-size: 14px;
}
.featured-items .container-content .product-item .item-short-details,
.get-in-touch .container-content .product-item .item-short-details {
  max-height: 150px;
  font-size: 12px;
  color: #3e3e3e;
  opacity: 0.7;
  text-align: left;
}

.get-in-touch .container-subtitle {
  font-size: 14px;
  color: #585858;
}
.get-in-touch form {
  padding: 0px 6vw;
}
.get-in-touch input,
.get-in-touch textarea,
.get-in-touch select {
  border: none;
  outline: none;
  font-size: 14px;
}
.get-in-touch textarea {
  height: 150px;
}
.get-in-touch label {
  font-size: 12px;
  color: #3e3e3e;
  letter-spacing: 1px;
}
.get-in-touch small {
  font-size: 12px;
}
.get-in-touch .btn {
  background: #3e3e3e;
  color: #fff;
}

/*# sourceMappingURL=landing.css.map */
